.navbar {
  background-color: #52998e;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #74b9af;
  font-family: comic;
}
.section {
  padding-top: 20rem;
}
.projects {
  padding: 23px;
  background-color: #e2edff;
}

.contact {
  padding: center;
}

.About {
  background-color: #bfd1ec;
  padding-top: 23px;
}

img.kanan {
  float: right;
  margin: 15px;
}
.col-md-4 {
  margin-left: 40px;
  margin-right: 40px;
}
.mahasiswa {
  margin-left: 40px;
  margin-right: 40px;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.kapital {
  margin-left: 40px;
  margin-right: 40px;
}

.btn {
  background-color: #74b9af;
  margin-top: 10px;
}

.tentang {
  margin-left: 40px;
  margin-right: 40px;
  font-family: comic;
}

.sambutan p {
  margin-left: 40px;
  margin-right: 40px;
  font-family: comic;
}

.lead {
  margin-left: 40px;
  margin-right: 40px;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
